.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);

}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}

li {
    display: inline;
    padding: 0px 20px;
    font-family: 'Nosifer', 'cursive';
    color: rgb(215, 57, 57);
    font-size: 20px;
}

li:hover {
    cursor: pointer;
}

body {
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

footer {
    background-color: black;
    bottom: 0;
    width: 100%;
    color: aliceblue;


}

a:visited {
    color: aliceblue;
}

.email {
    color: rgb(215, 57, 57);
}

.footerdiv {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    font-size: 25px;
    flex-wrap: wrap;
}

i {
    padding: 0px 5px;
}

.button {
    padding: 20px;
    background-color: rgb(215, 57, 57);
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

#home {
    width: 100%;
    margin: auto;
    text-align: center;
}

h1 {
    color: rgb(215, 57, 57);
    font-size: 45px;
    font-family: 'Nosifer', 'cursive';
    padding: 0px 100px;
}

h2 {
    font-size: 35px;

}

p {
    font-size: 25px;
    padding-bottom: 20px;

}

.book {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.book-text {
    width: 50%;
}

#about {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: left;
}

.BB {
    max-width: 403.37px;
    max-height: 400px;
    padding-right: 50px;
}

.text {
    padding: 50px;
}

.quote {
    font-style: italic;
}

.WRS {
    color: rgb(215, 57, 57);
    font-size: 35px;
    font-family: 'Nosifer', 'cursive';
}

#books {
    text-align: center;
    margin-bottom: 50px;
}

.book-container {
    max-width: 885px;
    width: 70%;
    margin: 0 auto 50px auto;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-between;

}

@media only screen and (max-width: 571px) {
    .book-container {
        justify-content: center;
    }

    .book-container>img {
        width: 250px !important;
        height: auto !important;
    }

    .footerdiv {
        padding-left: 10px;
    }
}